<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Contact</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container text-center">
        <div>
            <img src="\images\6.png" alt="" class="pictureStyle">
            <h4 style="color:white; font-size:15px;">Mace Windu - Pavlo Ivaniv</h4>
            <h4 style="color:white; font-size:15px;">Telegram - https://t.me/grafmk1523</h4>
            <p class="description">"We must remain calm, and let the Java guide us."</p>
        </div>
    </div>
</section>
</body>
</html>
